/* CSS file */
@namespace s "library://ns.adobe.com/flex/spark";

global {
	textAlign: left;
	color: #444444;
	fontFamily:MyriadPro;
	fontSize:30;
	modalTransparencyBlur: 8;
	modalTransparency: 0.6;
	modalTransparencyColor: #000000;
	modalTransparencyDuration: 500;
	themeColor: #5e3f69;
	focusedTextSelectionColor: #cccccc;
}

@font-face { 
	src: url("../assets/fonts/PetiitBoomRR-Regular.otf"); 
	fontFamily: Badaboom; 
	embedAsCFF: true;
}
 
@font-face { 
	src: url("../assets/fonts/MyriadPro-Cond.otf"); 
	fontFamily: MyriadPro; 
	fontWeight: normal;
	fontStyle: normal;
	embedAsCFF: true;
}

@font-face { 
	src: url("../assets/fonts/MyriadPro-CondIt.otf"); 
	fontFamily: MyriadPro; 
	fontWeight: normal;
	fontStyle:  italic;
	embedAsCFF: true;
}

@font-face { 
	src: url("../assets/fonts/MyriadPro-BoldCond.otf"); 
	fontFamily: MyriadPro; 
	embedAsCFF: true;
	fontWeight: bold;
	fontStyle: normal;
}

@font-face { 
	src: url("../assets/fonts/MyriadPro-BoldCondIt.otf"); 
	fontFamily: MyriadPro; 
	embedAsCFF: true;
	fontWeight: bold;
	fontStyle: italic;
}
 
 

s|DateSpinner
{
	letterSpacing: 1;
	textIndent: 1;
	locale: en-US;
	left:2;
	right:2;
	fontFamily: Verdana;
}



s|ActionBar
{
	skinClass: ClassReference("skins.actionBarSkin");
	chromeColor: #4a3151;
	titleAlign: center;
	backgroundAlpha:0;
	backgoundColor:#4a3151;
	defaultButtonAppearance:beveled;
}

s|ActionBar #titleDisplay
{ 
	fontFamily: "MyriadPro";
	color: #eeeeee;
	fontSize: 32;
}


s|TabbedViewNavigator #tabBar
{
	chromeColor: #4a3151;
	color: #c8a6c9;
	iconPlacement:top;
	textDecoration:none;
}


s|TextInput {
	contentBackgroundColor: #EFEFE8;
	fontSize:24;
	height:100;
	color: #737662;
	skinClass: ClassReference("spark.skins.mobile.TextInputSkin");
	focusedTextSelectionColor: #cccccc;
	showPromptWhenFocused: false;
}


s|Label {
	font-size:16;
}

s|TextArea {
	contentBackgroundColor: #f0eeda;
}

s|List s|HScrollBar
{
	skinClass: ClassReference("spark.skins.mobile.supportClasses.MobileSkin");
}

s|List s|VScrollBar
{
	skinClass: ClassReference("spark.skins.mobile.supportClasses.MobileSkin");
}

s|Button {
	color: 	#444444;
	font-weight: bold;
	font-size: 24;
	height: 90;
	chromeColor: #c8a6c9;
	skinClass: ClassReference("spark.skins.mobile.BeveledActionButtonSkin");
}

.backButton {
	font-weight: bold;
	font-size: 18;
	height: 75;
	chromeColor: #c8a6c9;
	color: #444444;
	skinClass: ClassReference("spark.skins.mobile.BeveledBackButtonSkin");
}

s|ToggleSwitch {
	skinClass: ClassReference("spark.skins.mobile.ToggleSwitchSkin");
}

.leftBoxStyle {
	borderStyle: solid;
	borderColor: #818181;
	borderWeight: 1;
	backgroundAlpha: 0.98;
	backgroundColor: #606060;
}

.rightBoxStyle {
	borderStyle: solid;
	borderColor: #818181;
	borderWeight: 1;
	backgroundAlpha: 0.98;
	backgroundColor: #606060;
}


.datatipStyle {
	backgroundColor: #000000;
	color: #ffffff;
	backgroundAlpha: 0.9;
}
.noLabel {	
	color : #cccccc;
}

.visitObject {
	color: #663399;
}
.hoverObject {
	color: #ddccee;
}



